 <ul class="list-unstyled contact-list container-fluid">
        <li class="card-container row" ng-repeat="contact in datasource|filter:{c_name:searchtext} track by contact.c_id" tabindex="{{$index+1}}">
            <div class="card-overlay">
                <div class="dpic-container col-sm-1 col-xs-3" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel">
                    <img ng-src="{{contact.c_img_url}}" alt="{{contact.c_name}}'s profile photo" class="dpic" title="{{contact.c_name}}">
                </div>
                <div class="dname-outer-container col-sm-5 col-xs-9" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel">
                    <span class="dname-container">
                    <span class="dname" aria-label="{{contact.c_name}}" ng-bind="contact.c_name | camelCase" ></span>
                    </span>
                </div>
                <div class="email-outer-container col-sm-4 col-xs-9" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel">
                    <div class="email-container">
                        <div role="button" class="email" ng-bind="contact.c_email | lowercase"></div>
                    </div>
                </div>
                <div class="controls-outer-container col-sm-2 col-xs-12">
                    <div class="controls-container row">
                        <span class="fa edit-icon col-xs-6" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel">&nbsp;</span>
                        <span class="fa delete-icon col-xs-6" ng-click="deletecontactfn(contact.c_id)">&nbsp;</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>