<div class="modal fade" id="addContactModal" role="dialog">
    <div class="modal-dialog">
        <article class="modal-content">
            <form name="createContactForm">
            <div class="modal-header">
                <input ng-model="searchtext" type="text" class="form-control search-bar" placeholder="Enter a name">
            </div>
            <div class="modal-body">
                <ul class="list-unstyled contact-list container-fluid">
                    <li class="card-container row create-contact">
                        <div class="card-overlay">
                            <div class="dpic-container col-sm-1">
                                <img ng-src="images/dp-grey.svg" alt="New profile photo" class="dpic" title="New profile photo">
                            </div>
                            <div class="dname-outer-container  col-sm-8">
                                <span class="dname-container">
                                                    <span class="dname" aria-label="searchtext" ng-bind="searchtext | camelCase">
                                                    </span>
                                </span>
                            </div>
                            <div class="create-icon-container col-sm-3">
                                <button type="submit" class="create-icon" ng-bind="'Create'" ng-click="setupeditmodalfn(searchtext)" data-dismiss="modal" data-toggle="modal" href="#editContactModel"></button>
                            </div>
                        </div>
                    </li>
                    <li ng-show="searchtext.length > 1" class="card-container row" ng-repeat="contact in datasource|filter:{c_name:searchtext} track by contact.c_id" tabindex="{{$index+1}}">
                        <div class="card-overlay">
                            <div class="dpic-container col-sm-1" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel" data-dismiss="modal">
                                <img ng-src="{{contact.c_img_url}}" alt="{{contact.c_name}}'s profile photo" class="dpic" title="{{contact.c_name}}">
                            </div>
                            <div class="dname-outer-container col-sm-8" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel" data-dismiss="modal">
                                <span class="dname-container">
                                                    <span class="dname" aria-label="{{contact.c_name}}" ng-bind="contact.c_name | camelCase">
                                                    </span>
                                </span>
                            </div>
                            <div class="fa edit-icon col-sm-3" ng-click="editcontactfn(contact.c_id)" data-toggle="modal" data-target="#editContactModel" data-dismiss="modal">&nbsp;</div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        </article>
    </div>
</div>