<header-search-bar data-setupemptymodal="setupEmptyModal" data-searchtext="globalSearchText" data-messagetext="message"></header-search-bar>
<div class="container">
    <contact-card data-datasource="contactList" data-deletecontact="deleteContact" data-editcontact="editContact" data-searchtext="globalSearchText"></contact-card>
</div>
<create-modal data-datasource="contactList" data-setupeditmodal="setupEditModal" data-searchtext="addSearchText" data-editcontact="editContact"></create-modal>
<edit-modal data-datasource="contactModel" data-addcontact="addContact"></edit-modal>