<ng-include src="'./views/header.html'" scope="" onload=""></ng-include>
<div class="container">
    <ul class="list-unstyled contact-list container-fluid">
        <li class="card-container row" ng-repeat="contact in contactList|filter:{c_name:searchText} track by contact.c_id" tabindex="{{$index+1}}">
            <div class="card-overlay">
                <div class="dpic-container col-sm-1">
                    <img ng-src="{{contact.c_img_url}}" alt="{{contact.c_name}}'s profile photo" class="dpic" title="{{contact.c_name}}">
                </div>
                <div class="dname-outer-container col-sm-5">
                    <span class="dname-container">
                    <span class="dname" aria-label="{{contact.c_name}}" ng-bind="contact.c_name"></span>
                    </span>
                </div>
                <div class="email-outer-container col-sm-4">
                    <div class="email-container">
                        <div role="button" class="email" ng-bind="contact.c_email"></div>
                    </div>
                </div>
                <div class="controls-outer-container col-sm-2">
                    <div class="controls-container row">
                        <span class="fa edit-icon col-sm-6" ng-click="editContact(contact.c_id)" data-toggle="modal" data-target="#editContactModel">&nbsp;</span>
                        <span class="fa delete-icon col-sm-6" ng-click="deleteContact(contact.c_id)">&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addContactModal" role="dialog" controller="ModalCtrl">
                <div class="modal-dialog">
                    <article class="modal-content">
                        <div class="modal-header">
                            <input ng-model="addSearchText" type="text" class="form-control search-bar" placeholder="Enter a name">
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled contact-list container-fluid">
                                <li class="card-container row create-contact">
                                    <div class="card-overlay">
                                        <div class="dpic-container col-xs-1">
                                            <img ng-src="images/dp-grey.svg" alt="New profile photo" class="dpic" title="New profile photo">
                                        </div>
                                        <div class="dname-outer-container col-sm-8 col-xs-11">
                                            <span class="dname-container">
                                                    <span class="dname" aria-label="addSearchText" ng-bind="addSearchText" data-toggle="modal">
                                                    </span>
                                            </span>
                                        </div>
                                        <div class="create-icon-container col-sm-3 col-xs-12">
                                            <button class="create-icon" ng-bind="'Create'" ng-click="setupEditModal(addSearchText)" data-dismiss="modal" data-toggle="modal" href="#editContactModel"></button>
                                        </div>
                                    </div>
                                </li>
                                <li ng-show="addSearchText.length > 1" class="card-container row" ng-repeat="contact in contactList|filter:{c_name:addSearchText} track by contact.c_id" tabindex="{{$index+1}}">
                                    <div class="card-overlay">
                                        <div class="dpic-container col-sm-1">
                                            <img ng-src="{{contact.c_img_url}}" alt="{{contact.c_name}}'s profile photo" class="dpic" title="{{contact.c_name}}">
                                        </div>
                                        <div class="dname-outer-container col-sm-8">
                                            <span class="dname-container">
                                                    <span class="dname" aria-label="{{contact.c_name}}" ng-bind="contact.c_name">
                                                    </span>
                                            </span>
                                        </div>
                                        <span class="fa edit-icon col-sm-3" ng-click="editContact(contact.c_id)" data-toggle="modal" data-target="#editContactModel">&nbsp;</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="modal fade" id="editContactModel" role="dialog" controller="ModalCtrl">
                <div class="modal-dialog">
                    <article class="modal-content">
                        <div class="modal-body row">
                            <form class="TTWForm" novalidate="" enctype="multipart/form-data">
                                <div class="dpic-container col-sm-3 col-xs-12">
                                    <img ng-src="{{contactModel.c_img_url}}" alt="{{contactModel.c_name}}'s profile photo" class="dpic" title="{{contactModel.c_name}}">
                                    <!-- <input type="file" name="c_profile_pic" id="field7" required="required"> -->
                                </div>
                                <div class="col-sm-9 col-xs-12 form-container">
                                    <div id="field1-container" class="row form-item-container">
                                        <div class="col-xs-12">
                                            <input type="text" name="c_name" id="field1" placeholder="Enter Full Name" required="required" ng-model="contactModel.c_name">
                                        </div>
                                    </div>
                                    <div id="field3-container" class="row form-item-container">
                                        <div class="col-xs-12">
                                            <input type="email" name="c_email" id="field3" placeholder="Enter Email" required="required" ng-model="contactModel.c_email">
                                        </div>
                                    </div>
                                    <div id="field4-container" class="row form-item-container">
                                        <div class="col-xs-12">
                                            <input type="text" name="c_nickname" placeholder="Enter Nickname" id="field4" ng-model="contactModel.c_nickname">
                                        </div>
                                    </div>
                                    <div id="field5-container" class="row form-item-container">
                                        <div class="col-xs-12">
                                            <input type="text" name="c_company" placeholder="Enter Company" id="field5" ng-model="contactModel.c_company">
                                        </div>
                                    </div>
                                    <div id="field6-container" class="row form-item-container">
                                        <div class="col-xs-12">
                                            <input type="text" name="c_comments" placeholder="Enter Comments" id="field6" ng-model="contactModel.c_comments">
                                        </div>
                                    </div>
                                    <div id="form-submit" class="row clearfix submit">
                                        <div class="col-xs-10 col-xs-offset-1 col-sm-3 pull-right">
                                            <input type="submit" value="Submit" ng-click="addContact(contactModel)" data-dismiss="modal">
                                        </div>
                                        <div class="col-xs-10 col-xs-offset-1 col-sm-3 pull-right">
                                            <input type="button" value="Cancel" data-dismiss="modal">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
</div>
</li>
</ul>
</div>